* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 24, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

#gameview {
  width: 640px;
  height: 480px;
  background-image: url("images/background.png");
  overflow: hidden;
}

#player {
  transform: translate(304px, 384px);
  width: 32px;
  height: 32px;
}

#player-idle {
  width: 32px;
  height: 32px;
  background-image: url("images/idle.png");
}

#player-move-1 {
  width: 32px;
  height: 32px;
  background-image: url("images/move_1.png");
}

#player-move-2 {
  width: 32px;
  height: 32px;
  background-image: url("images/move_2.png");
}

#player-move-3 {
  width: 32px;
  height: 32px;
  background-image: url("images/move_3.png");
}

#player-jump {
  width: 32px;
  height: 32px;
  background-image: url("images/jump.png");
}